#popups {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  top: 50vh;
  transform: translateY(-50%);
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  background-color: aqua;
  border-radius: 12px;
  display: none;
  z-index: 100;
}
.makeblur {
  /* filter: blur(5px) */
  filter: grayscale(100%) blur(5px);
}
.removescroll {
  overflow-y: hidden;
}

/* popups */
