<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%for(var i=0; i < post.length; i++){%>
    <title><%=post[i].category%>></title>
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="/global_css.css" />
    <link rel="stylesheet" href="/navmenu.css" />
  </head>
  <body>
    <div>
      <h1><%=post[i].name%></h1>
      <br />
      <h1><%=post[i].description%></h1>
      <br />
      <h1><%=post[i].price%></h1>
    </div>
    <br />
    <%}%>
  </body>
</html>
