<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ClientConnect-Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="icon" href="/favicon.png" />
  <link rel="stylesheet" href="/global_css.css" />
  <link rel="stylesheet" href="/login_multiform.css" />
  <script src="https://kit.fontawesome.com/a797f50ec3.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="flex" style="margin: 1rem; margin-bottom: 0;">
    <a href="/" style="display: flex;text-decoration: none !important;color: black;">
      <img class="animate__animated animate__zoomIn" src="/favicon.png" alt="" style="height: 80px; float: left;">
      <h2 style="margin: auto 0 auto 1rem;">ClientConnect</h2>
    </a>
  </div>
  <div class="container " style="zoom: 90%;">
    <form id="regForm" action="/login" method="POST">
      <h1>Login</h1>

      <!-- One "tab" for each step in the form: -->
      <div class="tab">
        <p>
          <input type="email" name="email" placeholder="Enter Email" />
        </p>
        <p style="position: relative">
        <div style="position: relative;">
          <input placeholder="Enter Password" type="password" id="password" name="password" />
          <span>
            <i style="position: absolute; top: 42%; right: 10px;cursor: pointer" class="fas fa-eye" id="open"
              onClick="eye_toggle()"></i>
            <i style="position: absolute; top: 42%; right: 10px;display: none; cursor: pointer" class="fas fa-eye-slash"
              id="close" onClick="eye_toggle()"></i>
          </span>
        </div>
        <!-- <b style="color: rgba(0,0,0,0.3);cursor: pointer;" onclick="toggle()">Show Password</b> &nbsp; -->
        &nbsp;
        <a href="/forgotPassword">Forgot Password?</a>
        <br />
        <!-- sign in button -->
        <button class="btn btn-primary" onclick="nextPrev(2)">
          Sign In
        </button>
        </p>
        <div style="position: relative;">
          <hr class="hr-text" data-content="OR LOGIN WITH">
          <p style="position: absolute; top: -14px; left:37%">Or Login With</p>
        </div>
        <!-- login with google -->
        <a href="/auth/google"><button type="button" class="btn btn-light" style="border: 1px solid rgba(0, 0, 0, 0.5)">
            <img
              src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
              alt="" height="20px" />&nbsp; Google
          </button></a>

        <!-- login with phone button -->

        <!-- YE CHALRA NAI TO COMMENT MARA: 30/04/2022 -->
        <!-- <button
            type="button"
            class="btn btn-primary"
            style="border: 1px solid rgba(0, 0, 0, 0.5)"
            id="nextBtn"
            onclick="phoneDisplay()"
          >
            Login with Phone No.
          </button> -->
        <!-- enter phone no, send otp -->
        <div class="phoneno">
          Phone No:
          <p>
            <input maxlength="10" placeholder="Phone..." />
          </p>
          <button type="button" class="btn btn-primary" onclick="nextPrev(1)">
            Send OTP
          </button>
        </div>
        <br />
        <br>
        <!-- not registered -->
        <p style="color: rgba(0, 0, 0, 0.5)">
          Not yet registered?&nbsp;<a href="/register">Create your account</a>
        </p>
      </div>
      <!-- tab 2: verify otp iff using login with phone -->
      <div class="tab">
        <label for="" style="width: fit-content">Enter OTP sent at xxxxxxxxxxx:
        </label>
        <input type="password" placeholder="OTP" />
        <!-- VERIFY OTP BUTTON, IF VERIFIED, REDIRECT TO DASHBOARD -->
        <a href="">
          <button style="margin: 0.3rem" class="btn btn-primary">
            Verify OTP
          </button>
        </a>
      </div>
      <!-- tab 3: submit -->
      <div class="tab" onclick="countdown()">
        <h2>Welcom to ClientConnect</h2>
        <h3>you have successfully logged in!</h3>
        <!-- submit button -->
        <!-- <button class="btn btn-primary">Submit</button> -->
        <p>Redirecting to dashboard..⌛</p>
      </div>

      <div style="overflow: auto">
        <div style="float: right">
          <button class="btn btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">
            Previous
          </button>
          <!-- <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">
                  Next
               </button> -->
        </div>
      </div>

      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align: center; margin-top: 10px">
        <!-- <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span> -->
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="./login_multiform.js"></script>

  <!-- script for show password -->
  <script>
    var state = false;
    function eye_toggle() {
      if (state) {
        document.getElementById("password").setAttribute("type", "password");
        state = false;
        document.getElementById("open").style.display = "inline-block";
        document.getElementById("close").style.display = "none";
      } else {
        document.getElementById("password").setAttribute("type", "text");
        state = true;
        document.getElementById("open").style.display = "none";
        document.getElementById("close").style.display = "inline-block";
      }
    }
    const phoneDisplay = () => {
      document.querySelector(".phoneno").classList.toggle("show");
    };
  </script>
</body>

</html>