@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300 !important;400 !important;500 !important;700&display=swap");
/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit !important;
  background-clip: padding-box !important;
  padding: 1px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000073 !important;
  border-radius: 10px !important;
  background-clip: padding-box !important;
  padding: 1px !important;
}

/* SCROLLBAR END */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --blue: rgb(4, 119, 134);
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

.nav-container {
  position: relative !important;
  width: 100% !important;
}

.navigation {
  position: fixed !important;
  width: 300px !important;
  height: 100% !important;
  background: var(--blue) !important;
  border-left: 10px solid var(--blue) !important;
  transition: 0.5s !important;
  overflow: hidden !important;
}

.navigation.active {
  width: 80px !important;
}

.navigation ul {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}

.navigation ul li {
  position: relative !important;
  width: 100% !important;
  list-style: none !important;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white) !important;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px !important;
  pointer-events: none !important;
}

.navigation ul li a {
  position: relative !important;
  display: block !important;
  width: 100% !important;
  display: flex !important;
  text-decoration: none !important;
  color: var(--white) !important;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue) !important;
}

.navigation ul li a .icon {
  position: relative !important;
  display: block !important;
  min-width: 60px !important;
  height: 60px !important;
  line-height: 70px !important;
  text-align: center !important;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em !important;
}

.navigation ul li a .title {
  position: relative !important;
  display: block !important;
  padding: 0 10px !important;
  height: 60px !important;
  line-height: 60px !important;
  text-align: start !important;
  white-space: nowrap !important;
}

/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "" !important;
  position: absolute !important;
  right: 0 !important;
  top: -50px !important;
  width: 50px !important;
  height: 50px !important;
  background: transparent !important;
  border-radius: 50% !important;
  box-shadow: 35px 35px 0 10px var(--white) !important;
  pointer-events: none !important;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "" !important;
  position: absolute !important;
  right: 0 !important;
  bottom: -50px !important;
  width: 50px !important;
  height: 50px !important;
  background: transparent !important;
  border-radius: 50% !important;
  box-shadow: 35px -35px 0 10px var(--white) !important;
  pointer-events: none !important;
}

/* main */
.main {
  position: absolute !important;
  width: calc(100% - 300px) !important;
  left: 300px !important;
  min-height: 100vh !important;
  background-color: var(--white) !important;
  transition: 0.5s !important;
}

.main.active {
  width: calc(100% - 80px) !important;
  left: 80px !important;
}

.topbar {
  width: 100% !important;
  height: 60px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0 10px !important;
}

.toggle {
  position: relative !important;
  /* top: 0 !important; */
  width: 60px !important;
  height: 60px !important;
  /* background: #ccc !important; */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 2.5em !important;
  cursor: pointer !important;
}
