/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
  background-clip: padding-box;
  padding: 1px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000073;
  border-radius: 10px;
  background-clip: padding-box;
  padding: 1px !important;
}

/* SCROLLBAR END */
#popups {
  position: absolute;
  height: fit-content;
  padding: 2rem;
  top: 50vh;
  margin: auto;
  left: 50%;
  /* background-color: aqua; */
  border-radius: 12px;
  display: none;
  z-index: 100;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  zoom: 95%;
  min-width: fit-content;
  max-width: 850px;
  transition: 0.5s ease-in-out;
  width: fit-content !important;
}
.makeblur {
  filter: blur(20px);
  pointer-events: none;
  /* filter: grayscale(100%) blur(5px); */
}

.closebtn {
  cursor: pointer;
}

.removescroll {
  overflow-y: hidden;
}
input {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.5rem;
  padding-right: 0;
  margin: 1rem 0;
  /* width: 100%; */
  /* font-size: 1.2rem; */
  font-weight: bold;
  color: #000;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  max-width: 500px;
}
.btn {
  margin: 0.5rem !important;
}
.landing-image img {
  height: 300px;
  position: relative;
  right: 20px;
  border-radius: 25px;
  /* box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.2); */
}
.landing-image {
  position: relative;
}
.landing-text {
  padding-left: 1rem;
}
#imgl,
#imgr {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 100;
}
#imgl {
  left: -45px;
  top: 20px;
}
#imgr {
  right: 0px;
  bottom: 20px;
}
@media (max-width: 1220px) {
  .landing-image {
    zoom: 85%;
  }
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 10px 12px 60px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 1rem;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=");
  background-size: 30px 30px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
#regForm,
#signup {
  min-width: none;
  /* width: 50vw !important; */
}
#regForm label,
#signup label {
  min-width: 128px;
}
#regForm .tab,
#signup .signup-div {
  /* display: flex; */
  flex-wrap: wrap;
}
#regForm div,
#signup div {
  margin: 10px 20px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgba(11, 11, 80);
  background: transparent;
  border-width: 8px;
  width: 20%;
  margin: 10px auto;
}

/* MULTI STEP FORM NEW CSS */

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}
/* MULTI STEP FORM NEW CSS END*/
.main {
  background: url(./gradient.jpg);
}
.sign-up:hover {
  color: #000 !important;
}
#signun-btn,
#login-btn {
  font-size: 1.2rem !important;
  padding: 0 !important;
}
#developers {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  height: fit-content;
  /* width: 100%; */
  padding: 2rem 0.5rem;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
#developers h2 {
  margin: 2rem auto;
  width: fit-content;
}
#developers .container {
  display: flex;
  gap: 5vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#developers .container .card {
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 0.5rem;
  background: url(./gradient.jpg);
  padding-bottom: 0 !important;
}
#developers .container .card img {
  border-radius: 15px;
  height: 200px;
  width: 200px;
  margin: auto;
  object-fit: contain;
}
#developers .container .card h5 {
  width: fit-content;
  margin: auto;
}
#developers .container .card ul {
  border-radius: 7px;
}
#developers .container .card ion-icon {
  /* height: 10rem; */
  font-size: 2rem;
  margin-right: 1rem;
}
#developers .container .card li.list-group-item {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  transition: all 0.5s ease-in-out;
  margin: 5px 2px;
  border-radius: 10px;
  cursor: pointer;
}
#developers .container .card li.list-group-item:hover {
  transform: scale(1.05);
  /* transform: translate3d(0, -10px, 0); */
}
#developers .container .card .contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
#developers .container .card .contact a.card-link {
  height: fit-content !important;
  display: flex !important;
  align-items: center !important;
  /* font-size: 2rem !important; */
  color: #000;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  /* margin-left: 1rem; */
}
#developers .container .card .contact a.card-link:hover {
  background-color: #bbbbbb;
}

#developers .container .card .contact a.card-link ion-icon {
  margin: 0;
  /* margin-left: 1rem; */
}
#getstarted {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.help {
  /* height: 340px; */
  /* background: url(./gradient.jpg);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(208, 223, 238, 1) 25%,
    rgba(232, 215, 234, 1) 50%,
    rgba(236, 218, 218, 1) 75%,
    rgba(205, 203, 225, 1) 100%
  ); */
  padding: 6vh 0;
  background-color: #eff0f5;
  width: 100vw;
  display: flex !important;
  /* flex-direction: column; */
  justify-content: center !important;
  align-items: center !important;
  /* text-align: center !important; */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.help .row.container {
  margin: 7vh auto !important;
}

/* .left2 {
  padding-left: 100px;
} */
.left2 h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  margin: 2vh auto !important;
  color: rgba(0, 0, 0);
  font-size: 2.2rem;
  letter-spacing: 2px;
}
.left2,
.right2 {
  display: flex;
  align-items: center;
}
