@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  /* font-family: "Comfortaa", cursive; */
  /* font-family: "Poppins", sans-serif; */
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", cursive;
  background: #1c658c;
  color: #eeeeee;
}
section {
  padding: 1vh 1vw;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  background-clip: padding-box;
  padding: 1px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000073;
  border-radius: 10px;
  background-clip: padding-box;
  padding: 1px !important;
}
/* SCROLLBAR END */

/*NAV MENU*/
a {
  text-decoration: none;
  outline: none;
  color: #333;
}
li {
  list-style: none;
}
.nav-menu {
  /* display: block; */
  height: 7rem;
  width: 7rem;
  float: left;
}
ion-icon {
  margin: 0 1rem;
  font-size: 1rem;
}
@keyframes hover {
  50% {
    transform: translateX(10px);
  }
}
.offcanvas-menu > label {
  top: 30px;
  left: 30px;
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 9999;
}
.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
  transition: background 0.3s, transform 0.3s;
}
.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 40px;
  background: #b3b3b3;
}
.offcanvas-menu label span::before {
  transform: translateY(-12px);
}
.offcanvas-menu label span::after {
  transform: translateY(12px);
}
.offcanvas-menu nav {
  position: fixed;
  height: 100%;
  width: 350px;
  left: -350px;
  overflow: hidden;
  background: #bdddff;
  transition: 0.3s ease;
  padding: 40px 30px;
  z-index: 9999;
}
.offcanvas-menu nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offcanvas-menu nav > div a {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  /* font-family: "Monoton", cursive; */
  background: linear-gradient(-90deg, #49a4ed 30%, #3d00a9 110%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.offcanvas-menu nav > div a i {
  font-size: 1rem;
  background: linear-gradient(120deg, #49a4ed 30%, #3d00a9 110%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.offcanvas-menu nav > div label {
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.offcanvas-menu nav > div label span,
.offcanvas-menu nav > div label span:before,
.offcanvas-menu nav > div label span:after {
  background: #4d4d4d;
}
.offcanvas-menu nav > ul {
  margin-top: 30px;
  counter-reset: nav-link-count;
}
.offcanvas-menu nav > ul li {
  cursor: pointer;
  padding: 10px 0;
  transform: translateX(-30px);
  opacity: 0;
  transition: 0.4s ease;
  counter-increment: nav-link-count;
}
.offcanvas-menu nav > ul li a {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  display: block;
}
/* .offcanvas-menu nav > ul li a::after {
  content: " : " counter(nav-link-count);
} */
.offcanvas-menu nav > ul li:hover {
  animation: hover 0.5s;
}
.offcanvas-menu input[type="checkbox"] {
  display: none;
}
.offcanvas-menu input[type="checkbox"]:checked ~ label {
  opacity: 0;
  pointer-events: none;
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav {
  left: 0;
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav label span {
  background: transparent;
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav label span:before {
  transform: rotate(-45deg);
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav label span:after {
  transform: rotate(45deg);
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav label span:before,
.offcanvas-menu input[type="checkbox"]:checked ~ nav label span:after {
  transition-delay: 0.2s;
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li {
  opacity: 1;
  transform: translateX(0px);
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(5) {
  transition-delay: 0.5s;
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(6) {
  transition-delay: 0.6s;
}
.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(7) {
  transition-delay: 0.7s;
}
