@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* .DP {
    max-width: 14vw;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} */
.row.gx-5 {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}
.pic-box {
  border-radius: 15px;
}
.content-box {
  border-radius: 20px;
  padding: 3vw !important;
}
.userspic {
  height: 10vw;
  border-radius: 50%;
  width: max-content;
  margin: 0 auto 1rem;
}
.userinfo div {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  text-align: left;
  padding: 10px;
}
.userinfo h6,
.userinfo p {
  display: inline;
  margin: 0 5px;
  padding: 0;
  overflow-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all !important;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
.content {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#addmore {
  /* margin-top: -0.5vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp {
  display: flex;
}
form p {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}
input {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.5rem;
  padding-right: 0;
  margin: 0;
  /* width: 100%; */
  /* font-size: 1.2rem; */
  font-weight: bold;
  color: #000;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  max-width: 500px;
}
.add_icon {
  height: 1.15rem;
  /* padding: 0.5rem; */
  margin: 0.3rem;
}

/* CSS of button */
/* 
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transform: translateY(7px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
  transform: translateY(7px);
}

.cta:active {
  transform: scale(0.95);
}

.cta {
  display: flex;
  justify-self: center;
  align-content: center;
} */

/* end for button */
button {
  display: inline-block;
  color: white;
  background-color: #2acfcf;
  text-transform: capitalize;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  width: fit-content;
  padding: 0.5rem 2rem;
  background: rgba(11, 11, 80, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
button:hover {
  background-color: #6be1e1;
}
.p-3.border.bg-light.pic-box {
  display: flex;
  flex-direction: column;
}
