*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
/* SLIDER */

#sliding {
  width: 90%;
  margin: 0 auto;
}
.slider {
  /* width: 70% !important; */
  margin: 5vh auto;
  text-align: center;
  padding: 20px 0;
  color: white;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  position: relative;
  display: block;
}
@media (max-width: 768px) {
  .slider {
    width: 100%;
  }
}
.slider .slides {
  /*padding: 1vh 1vw;
  margin: 5vh 1vw 0 !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-timing-function: ease-in-out;
  /**/
  overflow: hidden;
  display: block;
  height: 60px;
  float: left;
  width: 198px;
  padding: 3px;
  margin: 0 1vw;
  /* text-align: center !important; */
}
.slider img {
  /* height: 75px !important; */
  /* margin: 1vh 1vw !important;
  max-width: 80% !important;
  object-fit: contain;
  max-height: 100% !important;
  max-width: 100% !important; */
  display: block;
  margin: auto;
  /* width: 90%; */
  max-width: 100% !important;
  max-height: 100% !important;
  /* object-fit: contain; */
  box-sizing: border-box;
  cursor: pointer;
}
#sliding button {
  display: none !important;
}
